
@{
    ViewBag.Title = "NotFound";
}

<h1 class="text-center text-danger">NotFound</h1>
<h3 class="text-danger">We are sorry, we can not find the resource you are looking for, try again please...</h3>

