
@{
    ViewBag.Title = "ServerError";
}

<h1 class="text-center text-danger">ServerError</h1>
<h3 class="text-danger">Oops!... The server has experience something unusual, please try again later!</h3>

