@model EachVoice.Models.MostCommentViewModel
<h3 class="text-muted">Current Most Commentted Bill</h3>
<ul>
    <li>Bill ID: @Model.Comment.blid</li>
    <li>Title: @Model.Comment.bltitle</li>
    <li>Total Comments: @Model.MostCount</li>
</ul>